{% extends "base.html.j2" %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <h1>Login Form</h1>
    {% if boolean == False %}
        Yes it is true!
    {% else %}
        No it is not true
    {% endif %}
{% endblock content %}
